

@{
    ViewBag.Title = "Zamówienie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="mainContainer">
    <table style="border-collapse:collapse; width:100%;">
        <tr>
            <th>
                Dane zamawiającego
            </th>
            <th>
                Komentarz do zamówienia
            </th>
            <th>
                Data zamówienia
            </th>
            <th>
                Status zamówienia
            </th>
            <th>
                Wartość zamówienia
            </th>
        </tr>
        <tr style="border:1px solid black; height:150px;">
            <td style="max-width:150px; border: 1px solid black; text-align:center; font-size:large; overflow:scroll;">
                Imie Nazwisko<br />
                111222333<br />
                email@email.pl<br />
                Adres zamieszkania<br />
                42-500
            </td>
            <td style="width:400px; text-align:center; border: 1px solid black; min-height:300px;">
                Nazwa produktu - Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce.
                Nazwa produktu - Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce.
                Nazwa produktu - Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce.
                Nazwa produktu - Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce.
                Nazwa produktu - Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce.
            </td>
            <td style="width:100px; text-align:center; border: 1px solid black;">
                2020/11/25<br />
                15:23:24
            </td>
            <td style="width:100px; text-align:center; border: 1px solid black;">
                Nowe
            </td>
            <td style="width:100px; text-align:center; border: 1px solid black;">
                170 zł
            </td>
        </tr>
        <tr style="border:1px solid black;  height:50px;">
            <td style="max-width:150px; text-align:center;">
                Nazwa produktu
            </td>
            <td style="width:400px; text-align:center; border: 1px solid black;">
                Ilość: 1
            </td>
            <td colspan="3" style="text-align:center;">
                Wartość: 100 zł
            </td>
        </tr>
        <tr style="border:1px solid black;  height:50px;">
            <td style="max-width:150px; text-align:center;">
                Nazwa produktu
            </td>
            <td style="width:400px; text-align:center; border: 1px solid black;">
                Ilość: 2
            </td>
            <td colspan="3" style="text-align:center;">
                Wartość: 70zł
            </td>
        </tr>
    </table>

    <br /><br /><br />
    <hr style="width:100%" />
    <br /><br /><br />

    <table style="border-collapse:collapse; width:100%;">
        <tr>
            <th>
                Dane zamawiającego
            </th>
            <th>
                Komentarz do zamówienia
            </th>
            <th>
                Data zamówienia
            </th>
            <th>
                Status zamówienia
            </th>
            <th>
                Wartość zamówienia
            </th>
        </tr>
        <tr style="border:1px solid black; height:150px;">
            <td style="max-width:150px; border: 1px solid black; text-align:center; font-size:large; overflow:scroll;">
                Imie Nazwisko<br />
                111222333<br />
                email@email.pl<br />
                Adres zamieszkania<br />
                42-500
            </td>
            <td style="width:400px; text-align:center; border: 1px solid black; min-height:300px;">
                Nazwa produktu - Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce.
                Nazwa produktu - Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce.
                Nazwa produktu - Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce.
                Nazwa produktu - Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce.
                Nazwa produktu - Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce.
            </td>
            <td style="width:100px; text-align:center; border: 1px solid black;">
                2020/11/25<br />
                15:23:24
            </td>
            <td style="width:100px; text-align:center; border: 1px solid black;">
                Nowe
            </td>
            <td style="width:100px; text-align:center; border: 1px solid black;">
                170 zł
            </td>
        </tr>
        <tr style="border:1px solid black;  height:50px;">
            <td style="max-width:150px; text-align:center;">
                Nazwa produktu
            </td>
            <td style="width:400px; text-align:center; border: 1px solid black;">
                Ilość: 1
            </td>
            <td colspan="3" style="text-align:center;">
                Wartość: 1234 zł
            </td>
        </tr>
        <tr style="border:1px solid black;  height:50px; text-align:center;">
            <td style="max-width:150px;">
                Nazwa produktu
            </td>
            <td style="width:400px; text-align:center; border: 1px solid black;">
                Ilość: 2
            </td>
            <td colspan="3" style="text-align:center;">
                Wartość: 7263zł
            </td>
        </tr>
    </table>
</div>