body {
}

a {
    text-decoration: none;
}

header .title {
    height: 60px;
    width: 100%;
    text-align: center;
    vertical-align: central;
    line-height: 60px;
    color: white;
    font-size: 200%;
    font-weight: bold;
    font-family: 'Times New Roman';
    overflow: hidden;
}

header #logo {
    float: left;
    width: 25%;
}

header a {
    height: 100%;
    width: 100%;
    color: white;
}

header .underTitle {
    height: 40px;
    width: 100%;
    text-align: center;
    vertical-align: central;
    line-height: 40px;
    color: white;
    font-size: 100%;
    font-weight: bold;
    font-family: 'Times New Roman';
    overflow: hidden;
}

header .topMenuElement {
    height: 100px;
    width: 10%;
    float: right;
    text-align: center;
    vertical-align: central;
    line-height: 100px;
    font-size: 125%;
    font-family: 'Times New Roman'"
}

header nav {
    display: table;
    float: right;
    height: 100%;
}

header ul {
    display: table-cell;
    vertical-align: middle;
}

header li {
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
}

header .menuElement {
    color: white;
    font-size: 18px;
}

footer {
    margin-top: 75px;
}

    footer .footer {
        background-color: darkslategray;
        width: 100%;
        height: 50px;
    }

    footer nav {
        display: table;
        height: 100%;
        width: 100%;
        margin: auto;
    }

    footer ul {
        display: table-cell;
        vertical-align: middle;
        padding-left: 0px;
        text-align: center;
    }

    footer li {
        display: inline;
        margin-left: 50px;
        white-space: nowrap;
    }

    footer a {
        color: white;
        text-decoration: none;
    }


body #imageHeader {
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
    position: absolute;
    top: 40%;
    width: 250px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.product {
    position: relative;
}

.productImage {
    opacity: 0.1;
    width: 250px;
    height: 250px;
}

.productLink {
    text-decoration: none;
}


.product:hover .productImage {
    opacity: 1;
    transition: opacity 1s ease;
}

.product:hover #imageHeader {
    background-color: rgba(255, 255, 255, 0.85);
}

.addToCart {
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
}

.saleIcon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 85px;
    height: 85px;
    z-index: 1;
}

#mainContainer {
    width: 1000px;
    height: 500px;
    margin: auto;
    margin-top: 150px;
    display: table;
}

#mainContainerLeft {
    width: 40%;
    height: 500px;
    display: table-cell;
    vertical-align: middle;
}

#productImage {
    width: 100%;
    height: 100%
}

#mainContainerRight {
    width: 60%;
    height: 100%;
    display: table-cell;
    vertical-align: top;
}

#productTable {
    width: 300px;
    height: 200px;
    border: 5px solid;
    margin: auto;
}

#productName {
    width: 100%;
    height: 60%;
    line-height: 120px;
    vertical-align: central;
    text-align: center;
    font-size: 32px;
}

#productPrice {
    background-color: black;
    width: 100%;
    height: 40%;
    line-height: 80px;
    vertical-align: central;
    text-align: center;
    font-size: 18px;
    color: white;
    background-image: url(../Content/Images/cart2.png);
    background-repeat: no-repeat;
    background-position: right;
    color: white;
}

#productDescription {
    width: 85%;
    height: auto;
    text-align: center;
    margin: auto;
    margin-top: 35px;
    font-size: 18px;
}

#productInfo {
    width: 85%;
    height: auto;
    text-align: center;
    margin: auto;
    margin-top: 35px;
    font-size: 18px;
}

.linkButton {
    background-color: dodgerblue;
    color: white;
    padding: 14px 25px;
    display: inline-block;
}

    .linkButton:hover, .linkButton:active {
        background-color: blue;
    }


#categoryHorizontalMenu {
    width: 1500px;
    height: auto;
    margin: 100px auto;
}

    #categoryHorizontalMenu ul {
        height: 100%;
        text-align: center;
        list-style: none;
    }

        #categoryHorizontalMenu ul li {
            display: inline-block;
            background-color: darkgray;
            width: auto;
            min-width: 150px;
            height: 50px;
            border: 1px solid;
            font-size: 25px;
            text-align: center;
            line-height: 50px;
            margin-top: 4px;
        }

            #categoryHorizontalMenu ul li a {
                display: block;
                color: black;
            }

                #categoryHorizontalMenu ul li a:hover {
                    background-color: dimgray;
                }

#categoryListContainer {
    width: 1500px;
    height: auto;
    min-height: 800px;
    margin: 200px auto;
}

    #categoryListContainer #leftList {
        width: 30%;
        height: auto;
        display: inline-block;
    }

        #categoryListContainer #leftList ul li {
            text-align: center;
            list-style: none;
            background-color: darkgray;
            width: 90%;
            height: 50px;
            border: 1px solid;
            font-size: 25px;
            text-align: center;
            line-height: 50px;
            margin-top: 4px;
            margin-top: 15px;
        }

            #categoryListContainer #leftList ul li a {
                color: black;
                display: block;
            }

    #categoryListContainer #rightList {
        width: 65%;
        height: auto;
        display: inline-block;
        vertical-align: top;
        height: auto;
        border-left: 3px groove
    }

        #categoryListContainer #rightList h1 {
            width: 100%;
            height: auto;
            display: block;
            text-align: center;
            font-size: 45px;
            margin-bottom: 80px
        }

        #categoryListContainer #rightList ul li {
            margin: auto;
            display: table-cell;
            padding-left: 50px;
            float: left;
        }

.navigationPath img {
    display: inline;
}

.navigationPath h3 {
    display: inline;
}

#cartTable {
    border-collapse: collapse;
}

    #cartTable tr {
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }

        #cartTable tr td {
            width: 400px;
            height: 200px;
            text-align: center;
        }

            #cartTable tr td img {
                width: 100%;
                height: 100%;
            }

#cartValue {
    width: 1000px;
    height: 100px;
    text-align: right;
    line-height: 100px;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold
}

#emptyCartMessage {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}